<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile in detail</title>
    <link rel="stylesheet" href="/Style.css">
</head>
<body>
    <h1>Post Details</h1>
    <p>Id-@<%= id %></p>
   <div class="post">
            <h3 class="user"><%= name%></h3>
            <h4 class="content"><%= content %></h4>
        </div>
</body>
</html>